/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 mar 2023, 17:49:21
    Author     : andre
*/

*{
    box-sizing: border-box;
}


@media only screen and (min-width:768px)
{
    [class*="col-"]
    {
    float: left;
    padding: 10px;
    }
    header img{
    float:left;
    margin-right: 10px;
    }
    h1{
    padding: 47px;
    font-size: 35px;
    letter-spacing: 0.51px;
    line-height: 0.14px;
    }
    nav{
    background: #0d1117;    
    position: sticky;
    top: 0;
    }
    nav li{
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 2px solid #5CE1E6;
    }
    nav li:last-child{
        border-right: 0px solid #000000;
    }
    #sponsor ul li{
    display: inline;
    list-style-type: none;
    margin-left: 15px;
    padding: 10px;
    }
    .product img{     /*Store*/
    float:right;
    padding-top: 10px;
    }
    #login {
    width:50%;
    transform:translateX(50%);
    }
    #registration {
    width:50%;
    transform:translateX(50%);
    }
}

.col-1 {width:8.33%;}
.col-2 {width:16.66%;}
.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-5 {width:41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-10 {width:83.33%;}
.col-11 {width:91.66%;}
.col-12 {width:100%;}

@media only screen and (max-width:768px)
{
    [class*="col-"] {
        float: none;
        width: 100%;
        padding: 10px;
    }
    body{
        text-align: center;
    }
    nav li{
        font-size: 20px;
        list-style-type: none;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /*NEW_PRODUCT.HTML*/
     #product_new #description_p{
        transform: translateX(2%);
    }
}

@font-face {
    font-family: Glacial Indifference;
    src: url(fonts/glacial-indifference.regular.otf);
}

body{
    font-family: Glacial Indifference, Titillium Web, sans-serif;
    color: white;
    background: #0d1117;
    margin: 0px;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

nav{
    text-align: center;    
}
nav ul{
    padding-left: 0px;
    padding-bottom: 1px;
    padding-top: 1px;
}
#sponsor{
    text-align: center;
    background: repeating-linear-gradient(#0d1117,#0d1117, #0d1117, white,white,white,white,white);
}

#sponsor ul li{
    list-style-type: none;
    margin-left: 15px;
    padding: 5px;
}
#sponsor ul{
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 0px;
}
main{
    margin: 0px;
}
footer{
    background: #27282c;
}
footer p{
    margin: 0px;
    padding: 3%;
}
aside{
    background: white;
    color: black;
    text-align: center;
}
aside li{
    text-align: center;
    list-style-type: none;
    padding: 5px;
}
.clear{
    clear: both;
}

/*LOGIN*/

.login-reg-title{
    margin-top:50px
}

#login {
    text-align: center;
    background:gray;
    color: #FFFFFF;
    margin-left:15px;
    margin-right:15px;
    padding: 15px;
   
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    height: auto;
}

#login input{
    width:40%;
    margin-left: 15px;
    margin-top: 15px;
}

#login #e-mail{
    transform: translateX(13px);
}

#login input[type="submit"]{
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#registration {
    text-align: center;
    background:gray;
    color: white;
    margin-left:15px;
    margin-right:15px;
    padding: 15px;
   
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    height: auto;
}


#registration input{
    width:40%;
    margin-left: 15px;
    margin-top: 15px;
}


#registration input[type="submit"]{
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}


#registration #regname{
    transform:translateX(54px);
}

#registration #regpassword{
    transform:translateX(40px);
}

#registration #rege-mail{
    transform:translateX(53px)
}

#registration #regsurname{
    transform:translateX(40px);
}

/*NEW_PRODUCT.HTML*/

#product_new{
    position:relative;
    background: grey;
    padding:20px;
    margin: 80px;
    text-align: center;
    border-radius: 20px;
    left:20px;
    top:30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    height: auto;
}

#product_new input{
    width:50%;
    margin-left: 15px;
    margin-top: 15px;
}

#product_new input[type = "submit"]{
    width:40%;
    margin-top:10px;   
}

#product_new #prezzo_p{
    margin-left:24px;
    text-align:right;
}

#product_new #software_p{
    margin-left:12px;
}

#product_new #quantity_p{
    text-align:right;
}

#product_new #description_p{
    margin-right:40%;
    margin-top:2%;
}
